@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="said-background" style="background-image: url(/Content/Images/bg/saidbg.jpg)">
    <!--code-bg.jpg-->
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item said-banner-white">
                <h3 class="banner-title">世界很大，风住过这里</h3>
                <div class="banner-content">
                    <p>某个月夜，秋风漫步而来，带来一片律动，捎走一阵繁花。</p>
                    <p>阳光或许依旧，孤苦或许仍有，但我想，尚有很多梦还未醒。</p>
                    <p>世界很大，风住过这里。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="said-content said-blog-content">
        <article class="said-blog">
            <section class="blog-content">
                <div class="blog-img-content">
                    <a class="blog-img" href="javascript:;" title="点击阅读" style="background-image: url(/Content/Images/bg/6036.jpg)"></a>
                </div>
                <div class="said-blog-context">
                    <div class="said-box">
                        <h2 class="blog-title" title="这个闪动的bug不能直视啊，a标签的这个在chrome下的闪动，使用了transition的闪动，还没有解决啊"><a href="javascript:;">当我们谈论世界的时候，我们在谈论什么</a></h2>
                        <div class="blog-summary">
                            <div class="blog-preview">
                                <p>突然想要走一段陌生的路，让自己无谓一点。 </p>
                                <p>外面突然下起了雨，偶尔让晚九点的天空白了一瞬。就好像天公懂的作美，陪衬着你的心情，加一杯调料。 </p>
                                <p>突然很安静，就好像世界空了一点点，灯已经关上，夜已经沉重。 </p>
                                <p>不由自主的学会疗伤，从一个未知点开始，不由自主的，也许是从一个闪电，就如灵感一般把控不住的。这是王者的法则？还是弱者的悲情？ 突然想单曲循环一首歌，让心跳不会去选择沉闷。 从一个初夏循环到一个雪落，也许需要一点漫长的东西酝酿一种感觉，否则就没有起伏让自己懂的</p>
                            </div>
                        </div>
                        <footer class="blog-footer">
                            <div class="blog-music">
                                <div class="blog-music-img">
                                    <div class="music-ring"></div>
                                    <img src="/Content/Images/testImg-Paramore.Ps.jpg" alt="test" title="paramore" />
                                </div>
                                <ul class="blog-music-info">
                                    <li title="Artist">The Only Exception</li>
                                    <li title="Album">Paramore</li>
                                </ul>
                            </div>
                            <div class="blog-more-info">
                                <span title="浏览" class="blog-info fa fa-heart-o"><i>15</i></span>
                                <time>前天 16:17</time>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
        </article>
        <article class="said-blog even">
            <section class="blog-content">
                <div class="blog-img-content">
                    <a class="blog-img" href="javascript:;" title="点击阅读" style="background-image: url(/Content/Images/bg/6033.jpg)"></a>
                </div>
                <div class="said-blog-context">
                    <div class="said-box">
                        <h2 class="blog-title" title="这个闪动的bug不能直视啊，a标签的这个在chrome下的闪动，使用了transition的闪动，还没有解决啊"><a href="javascript:;">听说</a></h2>
                        <div class="blog-summary">
                            <div class="blog-preview">
                                <p>突然想要走一段陌生的路，让自己无谓一点。 </p>
                                <p>外面突然下起了雨，偶尔让晚九点的天空白了一瞬。就好像天公懂的作美，陪衬着你的心情，加一杯调料。 </p>
                                <p>突然很安静，就好像世界空了一点点，灯已经关上，夜已经沉重。 </p>
                                <p>不由自主的学会疗伤，从一个未知点开始，不由自主的，也许是从一个闪电，就如灵感一般把控不住的。这是王者的法则？还是弱者的悲情？ 突然想单曲循环一首歌，让心跳不会去选择沉闷。 从一个初夏循环到一个雪落，也许需要一点漫长的东西酝酿一种感觉，否则就没有起伏让自己懂的</p>
                            </div>
                        </div>
                        <footer class="blog-footer">
                            <div class="blog-music">
                                <div class="blog-music-img">
                                    <div class="music-ring"></div>
                                    <img src="/Content/Images/testImg-Paramore.Ps.jpg" alt="test" title="paramore" />
                                </div>
                                <ul class="blog-music-info">
                                    <li title="Artist">The Only Exception</li>
                                    <li title="Album">Paramore</li>
                                </ul>
                            </div>
                            <div class="blog-more-info">
                                <span title="浏览" class="blog-info fa fa-heart"><i>15</i></span>
                                <time>前天 16:17</time>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
        </article>
        <ul class="loading-round" style="display: none;">
            <li class="loading-dot"></li>
            <li class="loading-dot"></li>
            <li class="loading-dot"></li>
            <li class="loading-dot"></li>
            <li class="loading-dot"></li>
        </ul>
        <ul class="loading-line" style="">
            <li class="loading-dot">1</li>
            <li class="loading-dot">2</li>
            <li class="loading-dot">3</li>
            <li class="loading-dot">4</li>
            <li class="loading-dot">5</li>
        </ul>
        <div class="said-blog-page">
            <a class="page-pre page-disabled" href="javascript:;">上一页</a>
            <span class="page-index">1</span>
            <a class="page-index" href="javascript:;">2</a>
            <span class="page-break">...</span>
            <a class="page-index" href="javascript:;">70</a>
            <a class="page-next" href="javascript:;">下一页</a>
        </div>
    </div>
</section>
@section Css{
    <link href="@Url.Content("~/Content/Style/saidlist.css")" rel="stylesheet" />
}

@section FootJs{

}